In [28]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

trainingSet = pd.read_csv('./data/train.csv', index_col=0)
#remove redundant string 'location' from location entries
trainingSet['location'] = [l.replace('location ', '') for l in trainingSet['location']]
trainingSet['location'] = trainingSet['location'].astype('category')
trainingSet['fault_severity'] = trainingSet['fault_severity'].astype('category')
trainingSet.describe()

       location  fault_severity
count      7381            7381
unique      929               3
top         821               0
freq         85            4784

In [34]:
trainingSet.head(5)

      location fault_severity
id
14121      118              1
9320        91              0
14394      152              1
8218       931              1
14804      120              0

In [43]:
#count the occurences of different events
trainingSet['fault_severity'].value_counts()

0    4784
1    1871
2     726
dtype: int64

In [53]:
eventLocations = trainingSet.groupby('location')
print type(eventLocations)
#eventLocations.head()
dfrd=eventLocations.describe()
print type(dfrd)
dfrd.head(20)

<class 'pandas.core.groupby.DataFrameGroupBy'>
<class 'pandas.core.frame.DataFrame'>

                 fault_severity
location
1        count               24
         unique               3
         top                  0
         freq                14
10       count                1
         unique               1
         top                  0
         freq                 1
100      count               15
         unique               2
         top                  0
         freq                13
1000     count                3
         unique               1
         top                  0
         freq                 3
1002     count                1
         unique               1
         top                  0
         freq                 1

In [48]:
pd.crosstab(trainingSet.fault_severity, trainingSet.location)

location,1,10,100,1000,1002,1005,1006,1007,1008,1009,...,987,989,99,990,991,994,995,996,998,999
fault_severity,,,,,,,,,,,,,,,,,,,,,
0,14,1,13,3,1,1,3,16,34,4,...,1,3,2,3,0,5,4,1,4,3
1,8,0,2,0,0,0,0,3,21,0,...,0,11,0,3,1,0,14,3,6,3
2,2,0,0,0,0,0,0,0,16,0,...,0,2,0,0,2,0,22,0,1,0

In [29]:
eventType = pd.read_csv('./data/event_type.csv', index_col=0)
#remove redundant string 'event_type' from location entries
eventType['event_type'] = [l.replace('event_type ', '') for l in eventType['event_type']]
eventType['event_type'] = eventType['event_type'].astype('category')
eventType.describe()

       event_type
count       31170
unique         53
top            11
freq         7888

In [35]:
eventType.head(5)

     event_type
id
6597         11
8011         15
2597         15
5022         15
5022         11

In [31]:
severityType = pd.read_csv('./data/severity_type.csv', index_col=0)
#remove redundant string 'severity_type' from severity_type entries
severityType['severity_type'] = [l.replace('severity_type ', '') for l in severityType['severity_type']]
severityType['severity_type'] = severityType['severity_type'].astype('category')
severityType.describe()

       severity_type
count          18552
unique             5
top                2
freq            8737

In [33]:
severityType.head(10)

      severity_type
id
6597              2
8011              2
2597              2
5022              1
6852              1
5611              2
14838             1
2588              1
4848              1
6914              1

In [32]:
resourceType = pd.read_csv('./data/resource_type.csv', index_col=0)
#remove redundant string 'severity_type' from severity_type entries
resourceType['resource_type'] = [l.replace('resource_type ', '') for l in resourceType['resource_type']]
resourceType['resource_type'] = resourceType['resource_type'].astype('category')
resourceType.describe()

       resource_type
count          21076
unique            10
top                8
freq           10268

In [22]:
logFeature = pd.read_csv('./data/log_feature.csv', index_col=0)
#remove redundant string 'severity_type' from severity_type entries
logFeature['log_feature'] = [l.replace('feature ', '') for l in logFeature['log_feature']]
logFeature.head(5)

     log_feature  volume
id
6597          68       6
8011          68       7
2597          68       1
5022         172       2
5022          56       1