In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

trainingSet = pd.read_csv('./data/train.csv', index_col=0)
#remove redundant string 'location' from location entries
trainingSet['location'] = [l.replace('location ', '') for l in trainingSet['location']]
trainingSet['location'] = trainingSet['location'].astype('category')
trainingSet['fault_severity'] = trainingSet['fault_severity'].astype('category')
trainingSet.describe()

       location  fault_severity
count      7381            7381
unique      929               3
top         821               0
freq         85            4784

In [3]:
trainingSet.head(5)

      location fault_severity
id
14121      118              1
9320        91              0
14394      152              1
8218       931              1
14804      120              0

In [4]:
#count the occurences of different events
trainingSet['fault_severity'].value_counts()

0    4784
1    1871
2     726
dtype: int64

In [53]:
eventLocations = trainingSet.groupby('location')
print type(eventLocations)
#eventLocations.head()
dfrd=eventLocations.describe()
print type(dfrd)
dfrd.head(20)

<class 'pandas.core.groupby.DataFrameGroupBy'>
<class 'pandas.core.frame.DataFrame'>

                 fault_severity
location
1        count               24
         unique               3
         top                  0
         freq                14
10       count                1
         unique               1
         top                  0
         freq                 1
100      count               15
         unique               2
         top                  0
         freq                13
1000     count                3
         unique               1
         top                  0
         freq                 3
1002     count                1
         unique               1
         top                  0
         freq                 1

In [5]:
pd.crosstab(trainingSet.fault_severity, trainingSet.location)

location,1,10,100,1000,1002,1005,1006,1007,1008,1009,...,987,989,99,990,991,994,995,996,998,999
fault_severity,,,,,,,,,,,,,,,,,,,,,
0,14,1,13,3,1,1,3,16,34,4,...,1,3,2,3,0,5,4,1,4,3
1,8,0,2,0,0,0,0,3,21,0,...,0,11,0,3,1,0,14,3,6,3
2,2,0,0,0,0,0,0,0,16,0,...,0,2,0,0,2,0,22,0,1,0

In [50]:
#read all the data and remove redundant strings
eventType = pd.read_csv('./data/event_type.csv', index_col=0)
eventType['event_type'] = [l.replace('event_type ', '') for l in eventType['event_type']]
severityType = pd.read_csv('./data/severity_type.csv', index_col=0)
severityType['severity_type'] = [l.replace('severity_type ', '') for l in severityType['severity_type']]
logFeature = pd.read_csv('./data/log_feature.csv', index_col=0)
logFeature['log_feature'] = [l.replace('feature ', '') for l in logFeature['log_feature']]
resourceType = pd.read_csv('./data/resource_type.csv', index_col=0)
resourceType['resource_type'] = [l.replace('resource_type ', '') for l in resourceType['resource_type']]
#merge all tables
result = trainingSet.join(eventType).join(severityType).join(resourceType).join(logFeature)
#set appropriate data types for columns
categoryColumns = ['location', 'fault_severity', 'event_type', 'severity_type', 'resource_type', 'log_feature']
for column in categoryColumns:
    result[column] = result[column].astype('category')
result.head()

,location,fault_severity,event_type,severity_type,resource_type,log_feature,volume
id,,,,,,,
1,601,1,11,1,8,68,2
1,601,1,11,1,8,345,2
1,601,1,11,1,8,179,1
1,601,1,11,1,6,68,2
1,601,1,11,1,6,345,2

In [48]:
result[categoryColumns].describe()

,location,fault_severity,event_type,severity_type,resource_type,log_feature
count,61839,61839,61839,61839,61839,61839
unique,929,3,49,5,10,331
top,794,0,11,1,2,312
freq,1425,36597,13125,36571,31746,4534

In [51]:
result['volume'].describe()

count    61839.000000
mean         8.390336
std         22.902491
min          1.000000
25%          1.000000
50%          2.000000
75%          6.000000
max        877.000000
Name: volume, dtype: float64

In [59]:
event_type_groupby = result.groupby('event_type')
event_type_groupby.head(5)

,location,fault_severity,event_type,severity_type,resource_type,log_feature,volume
id,,,,,,,
1,601,1,11,1,8,68,2
1,601,1,11,1,8,345,2
1,601,1,11,1,8,179,1
1,601,1,11,1,6,68,2
1,601,1,11,1,6,345,2
1,601,1,13,1,8,68,2
1,601,1,13,1,8,345,2
1,601,1,13,1,8,179,1
1,601,1,13,1,6,68,2
1,601,1,13,1,6,345,2
5,460,0,34,2,2,312,11
5,460,0,34,2,2,232,6
5,460,0,35,2,2,312,11
5,460,0,35,2,2,232,6
6,332,1,34,2,2,227,1
6,332,1,34,2,2,232,1
8,243,0,34,2,2,232,3
8,243,0,35,2,2,232,3
8,243,0,35,2,2,309,5
8,243,0,35,2,2,229,3
19,644,1,42,1,2,368,3
19,644,1,42,1,2,376,2
19,644,1,42,1,2,283,1
19,644,1,42,1,2,291,1
19,644,1,44,1,2,368,3
19,644,1,44,1,2,376,2
19,644,1,44,1,2,283,1
19,644,1,44,1,2,291,1
20,79,0,54,2,8,55,1
20,79,0,54,2,8,39,1
...,...,...,...,...,...,...,...
8582,807,1,31,4,8,279,1
8693,892,0,51,1,2,135,1
8956,893,0,48,1,2,122,5
8956,893,0,48,1,2,374,4
8956,893,0,48,1,2,371,1
8956,893,0,48,1,2,290,16
8956,893,0,48,1,2,289,7
8987,607,0,41,2,8,11,1
8987,607,0,41,2,8,78,1
8987,607,0,41,2,8,306,1
8987,607,0,41,2,2,11,1
8987,607,0,41,2,2,78,1
11585,44,0,37,4,2,365,1
11827,126,0,12,1,2,307,3
11827,126,0,12,1,2,348,1
11827,126,0,12,1,2,235,5
11827,126,0,12,1,2,315,5
11827,126,0,12,1,2,313,12
12131,1084,2,31,1,8,279,1
12131,1084,2,31,1,8,170,4
12131,1084,2,31,1,1,279,1
12631,47,0,37,3,2,365,4
12631,47,0,37,3,2,10,5
15786,44,0,25,3,2,366,2
15786,44,0,25,3,2,365,1
15786,44,0,25,3,2,10,5
15786,44,0,25,3,2,364,1
15786,44,0,25,3,8,366,2
15786,44,0,37,3,2,366,2
15786,44,0,37,3,2,365,1