In [15]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

trainingSet = pd.read_csv('./data/train.csv', index_col=0)
#remove redundant string 'location' from location entries
trainingSet['location'] = [l.replace('location ', '') for l in trainingSet['location']]
trainingSet.head(5)

      location  fault_severity
id
14121      118               1
9320        91               0
14394      152               1
8218       931               1
14804      120               0

In [16]:
eventType = pd.read_csv('./data/event_type.csv', index_col=0)
#remove redundant string 'event_type' from location entries
eventType['event_type'] = [l.replace('event_type ', '') for l in eventType['event_type']]
eventType.head(5)

     event_type
id
6597         11
8011         15
2597         15
5022         15
5022         11

In [18]:
severityType = pd.read_csv('./data/severity_type.csv', index_col=0)
#remove redundant string 'severity_type' from severity_type entries
severityType['severity_type'] = [l.replace('severity_type ', '') for l in severityType['severity_type']]
severityType.head(5)

     severity_type
id
6597             2
8011             2
2597             2
5022             1
6852             1

In [20]:
resourceType = pd.read_csv('./data/resource_type.csv', index_col=0)
#remove redundant string 'severity_type' from severity_type entries
resourceType['resource_type'] = [l.replace('resource_type ', '') for l in resourceType['resource_type']]
resourceType.head(5)

     resource_type
id
6597             8
8011             8
2597             8
5022             8
6852             8

In [22]:
logFeature = pd.read_csv('./data/log_feature.csv', index_col=0)
#remove redundant string 'severity_type' from severity_type entries
logFeature['log_feature'] = [l.replace('feature ', '') for l in logFeature['log_feature']]
logFeature.head(5)

     log_feature  volume
id
6597          68       6
8011          68       7
2597          68       1
5022         172       2
5022          56       1